<button {{on 'click' this.loadComponent}}>
  Load a component from a library
</button>

{{#if this.isLoading}}
  Loading (artificially, cause this is fast)...
{{else}}
  <this.TheComponent />
{{/if}}


{{#if this.error}}
  {{this.error}}
{{/if}}
